body{
	color:black;
	font-family: 'Roboto Condensed'
}
.no-padding{
    padding:0px !important;
}
.no-margin{
    margin:0px !important;
}

.header-component div{
	background-color:white;

}
.header-component div .logo{
	width:150px;
	height:50px;
	padding:10px 15px;
	
}
.header-wrapper{
	position: fixed;
	top:0px;
	left:0px;
	width:100%;
	z-index: 999;
}
.main-container-wrapper{
	background-color:rgba(243,243,243,0.8);
	margin-top:50px;
}
.main-container-padding{
	padding:10px;
}

.navigation-component div{
	background-color:white;
}

.article-component div{
	background-color:white;
	margin:0px 0px 10px 0px;
}

.advertisement-component div{
	background-color:white;
	margin:0px 0px 10px 0px;
	padding:15px;
}
.footer-component div{
	background-color:#43a2d2;
	text-align: center;
	padding:5px 10px;
}
